<div fxLayout="column" fxLayoutGap="14px">
  <div>{{data}}</div>
  <div fxLayoutGap="10px">
    <button mat-stroked-button color="primary" fxFlex [mat-dialog-close]="true">Confirm</button>
    <button mat-stroked-button color="warn" fxFlex mat-dialog-close>Decline</button>
  </div>  
</div>
