.image {
  width: inherit;
  height: inherit;
  background-size: cover;
}

.sun {
  background-image: url('../../../assets/images/sun.png');
}

.clouds {
  background-image: url('../../../assets/images/clouds.png');
}

.rain {
  background-image: url('../../../assets/images/rain.png');
}

.snow {
  background-image: url('../../../assets/images/snow.png');
}
