<mat-toolbar color="primary">
  <div fxFlex>Weather Forecast Monitor</div>
  <button mat-raised-button class="install"
    *ngIf="installEnabled" (click)="installApp()">
    Install
  </button>
  <div *ngIf="conditions" fxLayout="row" fxLayoutGap="10px">
    <span>{{conditions.main.temp | number: '1.0-0'}}</span>
    <wfm-weather-image class="image" [weatherMain]="conditions.weather[0].main"></wfm-weather-image>
  </div>
</mat-toolbar>
