<input class="select"
  #searchOptions
  [placeholder]="placeholder"
  [(ngModel)]="searchValue"
  [disabled]="disabled"
  (focus)="isOpen = true && !disabled"
  (input)="filterOptions()">
<div class="options" *ngIf="isOpen">
  <div *ngFor="let option of filteredOptions"
    class="option" (click)="selectOption(option)"
    [innerHTML]="(display ? option[display] : option) | bold: searchOptions.value">
  </div>
  <div class="noOptionsMessage" *ngIf="filteredOptions.length === 0">
    {{noOptionsMessage}}
  </div>
</div>
