.select {
  min-height: 28px;
  background-color: transparent;
  border-radius: 4px;
  font-size: 14px;
}

.options {
  position: absolute;
  z-index: 1;
  width: 200px;
  max-height: 200px;
  overflow-y: auto;
  border: solid 1px #ccc;
  border-radius: 5px;
  background: #fff;
  box-shadow: 5px 5px 20px grey;
  text-align: center;
  padding: 5px 0;
  margin: 0;
}

.option {
  padding: 13px 5px;
  cursor: pointer;

  &:hover {
    background: whitesmoke;
  }

  &:active {
    background: #EFEFEF;
  }
}

.noOptionsMessage {
  padding: 13px 5px;
  color: #00000056;
}
