<button mat-button
  class="component"
  [ngStyle]="buttonStyle"
  [disabled]="(disabled || state === ButtonState.WORKING) && state !== ButtonState.DONE"
  (click)="onClick()">
  <ng-container *ngIf="contentsTemplate; else defaultTemplate">
    <ng-container *ngTemplateOutlet="contentsTemplate"></ng-container>
  </ng-container>
  <ng-template #defaultTemplate>
    <div [ngSwitch]="state">
      <div *ngSwitchCase="ButtonState.READY">Save</div>
      <div *ngSwitchCase="ButtonState.WORKING" fxLayoutAlign="center">
        <mat-spinner diameter="25"></mat-spinner>
      </div>
      <div *ngSwitchCase="ButtonState.DONE">Saved</div>
    </div>
  </ng-template>
</button>
