<div fxLayout="column" [@fade]>
  <mat-card class="custom-card">
    <mat-card-content>
      <form fxLayout.xs="column" fxLayout.gt-xs="row"
        fxLayoutAlign="center center" fxLayoutGap="10px">
        <mat-form-field>
          <mat-label>Zipcode</mat-label>
          <input #zipcodeInput matInput
            [formControl]="zipcodeFormControl"
            [value]="zipcode"
            (keyup)="onZipcodeKeyup(zipcodeInput.value)">
          <mat-error *ngIf="zipcodeFormControl.hasError('pattern') && !zipcodeFormControl.hasError('required')">
            Please enter a valid zipcode
          </mat-error>
          <mat-error *ngIf="zipcodeFormControl.hasError('required')">
            Zipcode is <strong>required</strong>
          </mat-error>
        </mat-form-field>
        <wfm-autocomplete
          [(selection)]="selectedCountry"
          placeholder="Enter country name"
          [options]="countries"
          display="name"
          noOptionsMessage="No countries available">
        </wfm-autocomplete>
        <wfm-state-button
          [disabled]="!zipcode || !zipcodeFormControl.valid"
          [state]="saveButtonState"
          (stateChange)="onButtonStateChange($event)"
          [contentsTemplate]="contentsTemplate"
          [readyStyle]="{ 'background-color': '#3F51B5', color: 'white' }"
          [workingStyle]="{ 'background-color': '#7986CB' }"
          [doneStyle]="{ 'background-color': '#4CAF50' }">
          <ng-template #contentsTemplate>
            <div [ngSwitch]="saveButtonState">
              <div *ngSwitchCase="ButtonState.READY">Add location</div>
              <div *ngSwitchCase="ButtonState.WORKING">Adding...</div>
              <div *ngSwitchCase="ButtonState.DONE" fxLayoutAlign=" center" fxLayoutGap="5px">
                <mat-icon>check_circle_outlined</mat-icon>
                <span>Done</span>
              </div>
            </div>
          </ng-template>
        </wfm-state-button>
        <button type="button" mat-raised-button color="warn"
          [disabled]="!locationCodes || locationCodes.length === 0"
          [wfmConfirmation]="confirmDelete"
          (confirm)="clearAllLocations($event)">
          Clear locations
        </button>
      </form>
    </mat-card-content>
  </mat-card>
  <wfm-weather-item *ngFor="let locationCode of locationCodes"
    [locationCode]="locationCode"
    (completed)="completeStateButton()"
    (delete)="deleteLocationCode($event)">
  </wfm-weather-item>
  <span *ngIf="locationCodes.length === 0" fxLayoutAlign="center">No locations selected</span>
</div>
