
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '~@angular/material' as mat;
// Plus imports for other components in your app.
@import '~@angular/material/theming';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$weather-forecast-monitor-primary: mat.define-palette(mat.$indigo-palette);
$weather-forecast-monitor-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$weather-forecast-monitor-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$weather-forecast-monitor-theme: mat.define-light-theme((
  color: (
    primary: $weather-forecast-monitor-primary,
    accent: $weather-forecast-monitor-accent,
    warn: $weather-forecast-monitor-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($weather-forecast-monitor-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card.custom-card {
  padding: 0;
  margin-bottom: 20px;

  .mat-card-header {
    background-color: mat-color(mat-palette($mat-gray, 200));
    border-radius: 4px 4px 0 0;
    padding: 16px 16px 0 16px;
  }

  .mat-card-content {
    padding: 16px 16px 16px 32px;
    background-color: mat-color(mat-palette($mat-gray, 100));
  }
}
