<mat-card *ngIf="forecast" class="custom-card" [@fade]>
  <mat-card-header>
    <mat-card-title>5-day forecast for {{forecast.city.name}}</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <div *ngFor="let item of forecast.list" class="item" fxLayout="column">
      <div class="text-container" fxLayout="row" fxLayoutAlign=" center">
        <div class="text" fxFlex>
          {{item.dt | unix | date:'EEEE, MMM d'}}:
          {{item.weather[0].main}}
          - Min: {{item.temp.min | number: '1.0-0'}}
          - Max: {{item.temp.max | number: '1.0-0'}}
        </div>
        <div>
          <wfm-weather-image class="image" [weatherMain]="item.weather[0].main"></wfm-weather-image>
        </div>
      </div>
      <div>
        <mat-divider></mat-divider>
      </div>
    </div>
    <div>
      <a mat-raised-button color="primary" routerLink="/">Back to main page</a>
    </div>
  </mat-card-content>
</mat-card>
