<mat-card *ngIf="conditions" class="custom-card" [@fade]>
  <mat-card-header>
    <mat-card-title>{{conditions.name}} ({{locationCode.zipcode}})</mat-card-title>
    <div fxLayoutAlign="end" fxFlex>
      <button mat-icon-button class="close-button" [wfmConfirmation]="confirmDelete" (confirm)="deleteLocationCode($event)">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content fxLayout="row" fxLayout.xs="column" fxLayoutAlign=" center">
    <div fxLayout="column" fxLayoutAlign.xs=" center" fxFlex>
      <div class="text">Current conditions: {{conditions.weather[0].main}}</div>
      <div class="text">Temperatures today:</div>
      <div class="text">- Current: {{conditions.main.temp | number: '1.0-0'}}</div>
      <div class="text">- Max: {{conditions.main.temp_max | number: '1.0-0'}}</div>
      <div class="text">- Min: {{conditions.main.temp_min | number: '1.0-0'}}</div>
      <div>
        <a mat-button color="primary" routerLink="/forecast/{{locationCode.zipcode}}/{{locationCode.countryCode}}">
          Show 5-day forecast for {{conditions.name}}
        </a>
      </div>
    </div>
    <wfm-weather-image class="image" [weatherMain]="conditions.weather[0].main"></wfm-weather-image>
  </mat-card-content>
</mat-card>
